
body {
    padding-top: 75px;
}

#tool-description-area a{
    text-decoration:none;
    color: #333;
}

#app-description-area{
    padding-bottom: 30px;
}

#text-area, #user-data-container{
    margin-top: 30px;
}


#text-area{
    resize: none;
    height:50vh;
}

.main-content-area{
    padding-bottom: 30px;
}

.user-card{
    margin-top:30px;
}

.error{
    color: #a94442;
}

.note-group{
    padding-top: 10px;
    padding-bottom: 10px;
}

.note-group-item{
    padding-left: 10px;
    padding-right: 14px;
    background-color:#4e5d6c;
    border-bottom: 1px solid #ebebeb;
    word-wrap: break-word;

}
.note-group-item-text{
    padding-top:10px;
    padding-bottom:10px;
}