body {
    padding-top: 75px;
}

#cover-area{
    padding-top: 25vh;
}

.main-content-area{
    padding-bottom: 30px;
}

.note-group{
    padding-top: 10px;
    padding-bottom: 10px;
}


.note-group-item{
    padding-left: 15px;
    padding-right: 15px;
    background-color:#4e5d6c;
    border-bottom: 1px solid #ebebeb;
    word-wrap: break-word;
}

.note-group-item-last{
    border-bottom: none;
}

.note-group-item-text{
    padding-top:10px;
    padding-bottom:10px;
}