@media print {

    html, body {
        margin: 0;
        padding: 0;
        font-size: 16pt;
    }

    .board-buttons, .input-group, .delete-note-button {
        display: none;
    }

    .list-group-item-text {
        min-width: 65vw;
    }

    .note-group-item {
        border-bottom: 1px solid black;
        page-break-inside: avoid;
    }

    .voteButton .badge {
        font-size: 16pt;
    }

}