@media print {

    html, body {
        margin: 0;
        padding: 0;
        font-size: 16pt;
    }

    .board-buttons {
        display: none;
    }

    .input-group {
        display: none;
    }

    .delete-note-button {
        display: none;
    }

    .list-group-item-text {
        min-width: 65vw;
    }

    .voteButton .badge{
        font-size: 16pt;
    }

}